{% extends 'layouts/app.twig' %}

{% block title %}Topics{% endblock %}

{% block content %}
  {% for topic in topics %}
    <div class="topic">
      <h3><a href="{{ path_for('topics.show', {id: topic.id}) }}">{{ topic.title }}</a></h3>
    </div>
  {% endfor %}
{% endblock %}
